
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, li{
    list-style: none;
}

body{
    font-family: 'Rubik', sans-serif;
    color: var(--text1);
}



