.container{
    max-width: rem(1172);
    margin: 0 auto;
    padding: 0 rem(16);
    

}


.col2{
    display: flex;
    align-items: flex-end;

    @media (max-width: $breakpoint-medium) {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: rem(50);
    }
}