:root{
    --pink: #F53855;
    --pink-light: #ffecec;
    --red: #f53838;
    --text: #0b132a;
    --text2: #4f5665;
    --white: #FFFFFF;
    --gray: #EEEFF2;
    --gray2: #DDE0E4;
}

// BreakPoints
$breakpoint-small: 728px;
$breakpoint-medium: 1098px;




:root{
    --breakpoint-small: 728px;
    --breakpoint-medium: 1098px;
}


